@import "tailwindcss";
@plugin "tailwindcss-animate";

@layer base {
  :root {
    --color-primary: #0A66C2;
    --color-secondary: #000000;
    --color-bg: #F2F2F2;
    --color-text: #000000;
    --color-border: #000000;
    --color-inverse: #000000;
    --color-inverse-text: #FFFFFF;
    --shadow-color: #000000;
  }

  .dark {
    --color-primary: #0A66C2;
    --color-secondary: #FFFFFF;
    --color-bg: #050505;
    --color-text: #FFFFFF;
    --color-border: #FFFFFF;
    --color-inverse: #FFFFFF;
    --color-inverse-text: #000000;
    --shadow-color: #FFFFFF;
  }
}

@theme {
  --color-primary: var(--color-primary);
  /* LinkedIn Blue */
  --color-secondary: var(--color-secondary);
  /* Black */
  --color-bg: var(--color-bg);
  /* Light Gray / Off-White */
  --color-text: var(--color-text);
  --color-border: var(--color-border);
  --color-inverse: var(--color-inverse);
  --color-inverse-text: var(--color-inverse-text);
  --font-mono: 'Courier New', Courier, monospace;
  --font-sans: 'Helvetica Neue', 'Arial', sans-serif;

  /* Custom Utilities for Brutalism */
  --shadow-brutal: 8px 8px 0px 0px var(--shadow-color);
  --shadow-brutal-hover: 4px 4px 0px 0px var(--shadow-color);
}

@layer base {
  body {
    @apply bg-bg text-text antialiased font-sans;
    background-color: #F2F2F2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-black uppercase tracking-tighter;
    line-height: 0.9;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #4c1d95;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d28d9;
}