@import "tailwindcss";

@theme {
  --color-primary: #FF1E1E;
  /* Punchy Red */
  --color-secondary: #000000;
  /* Black */
  --color-bg: #F2F2F2;
  /* Light Gray / Off-White */
  --color-text: #000000;
  --color-border: #000000;
  --font-mono: 'Courier New', Courier, monospace;
  --font-sans: 'Helvetica Neue', 'Arial', sans-serif;

  /* Custom Utilities for Brutalism */
  --shadow-brutal: 8px 8px 0px 0px #000000;
  --shadow-brutal-hover: 4px 4px 0px 0px #000000;
}

@layer base {
  body {
    @apply bg-bg text-text antialiased font-sans;
    background-color: #F2F2F2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-black uppercase tracking-tighter;
    line-height: 0.9;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
  border-left: 2px solid black;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary border-2 border-black;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}