@import "tailwindcss";

@theme {
  --color-primary: #0000ff;
  /* Pure Blue */
  --color-secondary: #ff0000;
  /* Pure Red */
  --color-bg: #e5e5e5;
  /* Concrete Gray */
  --color-text: #000000;
  --color-border: #000000;
  --font-mono: 'Courier New', Courier, monospace;
  --font-sans: 'Helvetica', 'Arial', sans-serif;

  /* Custom Utilities for Brutalism */
  --shadow-brutal: 6px 6px 0px 0px #000000;
  --shadow-brutal-hover: 3px 3px 0px 0px #000000;
}

@layer base {
  body {
    @apply bg-bg text-text antialiased font-mono;
    background-image: linear-gradient(#000 1px, transparent 1px), linear-gradient(90deg, #000 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: -1px -1px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-black uppercase tracking-tighter;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
  border-left: 2px solid black;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary border-2 border-black;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}